.containerStyle{
    width: fit-content;
    margin: 0px auto;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.loginRegisterButton{
  background-color: rgba(0, 150, 0, 0.9);
  padding: min(0.5em, 10%);
  border-radius: 20%;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);
}

.loginForm{
  background-color: rgb(245, 245, 220);
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.loginForm input{
  right: 10px;
  background-color: rgb(250, 250, 250);
}

.tabContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.tabContainer button{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}