
@import "tailwindcss";
.filter{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  border-radius: 10px;
  background-color: rgba(210, 230, 250, 0.4);
  box-sizing: border-box;

  @media (max-width: 768px) {
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  }
}

.searchContainer {
  left: 2px;
  display: flex;
  flex-direction: row;
  width: 100%;
  @media (max-width: 768px){
    top: 2rem;
    width: 80%;
  }
}

.svgsearch{
  width: 1.5rem;

  @media (max-width: 768px){
  width: 1.5rem;
  }
}
.searchInput{
  font-weight: 1px;
  font-size: 0.732rem;
  border-radius: 5px;
  background-color: rgba(250, 235, 255, 0.98);
  width: 100%;
  padding-left: 5px;
}

.searchAndFilter {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
/*
    @media (max-width: 768px){
      display: none;
    }
      */
}

.accountButton{
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  border-radius: 2px;
  gap: none;
  padding: none
}
.accountButton span{
  font-size: 0.6rem;
  font-style: initial;
}
  .loggedIn{
  display: flex;
  flex-direction: column;
  }

  .secondTitlePhone{
  display: none;

  @media (max-width: 768px) {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 600;
  padding-bottom: 0.6rem;
  justify-content: space-between;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 5px;
  border: 0.1px solid rgba(0, 0, 0, 0.1);

}

}


.sidePanel{
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 10%;
  height: 100%;
  padding-left: 10px;
  resize: horizontal;
  box-sizing: border-box;
  overflow-y: auto;
  justify-content: space-between;
  position: sticky;
}
@media (max-width: 768px) {
  .sidePanel{
    display: none;
  }
}

.filterByCondition button{
  cursor: pointer;
  padding: 0;
  position: relative;
  font-size: 0.7rem;
  width: 100%;

}

.filterByCondition button:hover{
  color: red;
  background-color: rgba(0, 0, 0, 0.1);
}
/* Done, */
.cardAndFilter{
  display: flex;
  flex-direction: row;
  gap: 10px;
  }
.navbutton{
  font-size: clamp(0.5rem, 1.1vw, 1.1em);
  border-radius: 5px;
  color:rgb(21, 20, 20);
  white-space: nowrap;
  box-shadow: none;
  padding: min(0.1em, 13%);
  cursor: pointer;
  align-items: start;
  justify-content: start;

}/*
@media (max-width: 768px) {
  .buttonCarCondition {
    display: flex;
    flex-direction: row;
    
  }

}*/
.conditionbutton{
  color: rgb(20, 20, 255);
  display: flex;
  gap: 0.31rem;
  padding-right: 3px;
/*
@media (max-width: 768px) {
  display: none;
}
  */
}

.conditionbuttonOnPhone{
  display: none;

  @media (max-width: 768px) {
    display: flex;
    font-size: small;
  }
}

.filterContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 1rem 7rem 2rem 6rem;
@media (max-width: 768px){
  display: none;
  }
}

.brandPone{
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  align-items: start;
  padding-left: 2%;
  border-radius: 5px;
  font-weight: 600;
  
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 10%;
  width:50%;
}

.navbuttonphone{
  width: 100%;
  align-items: start;
  cursor: pointer;
  padding:0.5rem 0 0.5rem 0 ;
}

.navbuttonphone:hover{
  outline: none;
  background-color: rgb(200, 200, 200);
}
.navbuttonphone:nth-child(even){
  background-color: rgb(250, 250, 240);
}

.buttonCarCondition img{
  
  justify-content: center;

}

.search{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filterHamburger {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

@media (max-width: 768px) {
  .search {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    z-index: 100;
    width: 90%;
    max-width: 100%;
  }

  .navbutton{
  font-size: clamp(0.75em, 1.1vw, 1.1em);
  border-radius: 5%;
  color:rgba(21, 20, 50, 1);
  white-space: nowrap;
  box-shadow: none;
  width: fit-content;
  padding: min(0.1em, 13%);
  flex-grow: 1;
  cursor: pointer;
}


.filterContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 1rem;
  border: 1px solid black;

  @media (max-width: 768px) {
    display: none;
  }
}

@media (max-width: 768px) {
  .filterContainer{
  padding-bottom: 0
  }
}

  .filterMenuOpen {
    display: flex;
    color: rgba(20, 20, 20, 0.7);
    background-color: rgba(125, 125, 155, 0.841);
    width: auto;
    border: 3px solid red
  }

    .filterHamburger {
    display: block;
    font-size: 0.73em;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid red;
  }
  
  .navbutton{
  font-size: clamp(0.75em, 1.1vw, 1.1em);
  border-radius: 5%;
  color:rgba(21, 20, 50, 1);
  white-space: nowrap;
  box-shadow: none;
  width: fit-content;
  padding: min(0.1em, 13%);
  flex-grow: 1;
  cursor: pointer;
  
}
}
.buttonSvg{
    position: absolute;
    top: 0%;
    padding: 0px;
    display: inline-block;
    width: 10%;
    z-index:100;
}

.buttonSvg-Used {
  float: right;
  right: 0%
}

.buttonSvgOvel{
display: none;
}
.buttonSvgOvel-Pending{
  position: absolute;
  top: 0%;
  right: 40%;
  width: 25%
}

.model{
  width:fit-content;
  position: absolute;
  top: 70%;
  font-size: 1rem;
  color: rgb(100, 10, 10);
  font-weight: 600;
  font-family: serif;
  border: 0.1px solid rgba(230, 10, 10, 0.3);
  background-color: rgba(250, 250, 250, 0.7);
  border-radius: 3px;
}

.price{
  color: rgb(240, 20, 50);
  font-weight: bold;
  position: absolute;
  top: 70%;
  right: 1%;
  background-color: rgba(255, 255, 255, 0.7);
  border: 0.1px solid rgba(230, 0, 0, 0.2);
  border-radius: 3px;
}
.imgandits{
  flex-shrink: 1;
  box-sizing: border-box;
  padding: 0;
  flex: 1 1 auto;
  width: 100%;
  max-Height: 400px;
  margin: 0 0;
  box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 5;
  position: relative;
}
.img{
  top: 0;
  width: 100%;
  min-width: 0;
  height: auto;
  border-radius: 0% 0% 50% 50%;
}


.navbutton:hover {
  background-color: rgba(20, 20, 20, 0.2);
}


.carproparty{
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(250, 250, 250, 0.2);
  background-size: cover;
  padding: 2px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "image"
    "details";

    @media (max-width: 768px) {
    }
}



.carproparty .carpropartyOtherProperty{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.otherDescription{
  color: indigo;
  font-weight: 400;
  float: right;
  width: 50%;
  font-size: 0.7rem;
  right: 50%;
  

 
}
.carProperty h5{
  color: rgb(240, 20, 50);
  font-weight: bold;
  
}

.carproparty::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, 0.7);
  color: rgb(255, 255, 255);  
  border-radius: 10px; 
  z-index: 0;
}


.carproparty > * {
  position: relative;
  z-index: 1;
}

.navbartop{
float: top;
top: 2px;
padding: 3px;
}

.newbutton{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: min(5px, 10%); 
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  box-sizing: border-box;
  min-width: 0;
  width: 100%;
}

.newbutton button{
  width: fit-content;
  flex-grow: 1;
  min-width: 0;
  font-size: clamp(0.7em, 1.2vw, 0.51em);
  font-weight: bold;
  padding: 1px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 110, 0.2);
  text-overflow: ellipsis;
  flex-shrink: 1;
  border: 0.12px solid rgba(0, 0, 0, 0.16);
  min-width: 0;
  flex-shrink: 1;
  cursor: pointer;
}


.newbutton button:hover {
  background-color: rgba(20, 20, 20, 0.2);
}

.button{
  white-space: nowrap;
 
}


.title{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  white-space: nowrap;
  margin-right: 5px;
  justify-content: space-between;

  @media (max-width: 768px){
    margin-right: 4px;
  }
  }

.titletext{
  font-size: 2vw;
  flex: 1 auto;

  @media (max-width: 768px){
    display: none;
  }
}


.navbarbutton{
  display: flex;
  align-items: center;
  gap: 20px;
  @media (max-width: 768px) {
    gap: 2px;
    display: flex;
    flex-direction: row
  }
}

.navbarbutton button{
  cursor: pointer;
}
.navbarbutton button:hover{
    background-color: rgba(200, 200, 200, 0.5);
}

.topButton{
  height: 1.5rem;
}


.carproperty{
  display: flex;
  flex-direction: row;
}

.carproperty span{
  font-weight: 600;
  font-size: 1.2rem;
  padding-left: 1rem;
  color: rgb(71, 20, 50);
}
.footerContainer{
  background-color: black ;
  color: white;

}
.footerAboutUs{
    justify-content: center;
    text-align: center;
}

.footerAboutUs h4{
padding: 2px;
}



.imageNavigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.imageNavButton {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 3px 5px;
  margin: 0 2px;
  cursor: pointer;
  border-radius: 4px;
}

.imageNavButton:hover {
  background-color: #e0e0e0;
}

.imageCounter {
  margin: 0 10px;
  font-size: 0.9em;
}
/*
.welcomeMessage{
 
}
*/

.chatContainer{
        position: fixed;
        overflow-y: auto;
        bottom: 2px;
        right: 2px;
        width: 350px;
        max-height: 100%;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
        z-index: 1000;
        display: flex;
        flex-direction: column;
      
}
.cartContainer{
      position: fixed;
      overflow-y: auto;
      bottom: 2px;
      width: 350px;
      max-height: 100%;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.15);
      z-index: 1000;
      display: flex;
      flex-direction: column;
}

.customCarContainer {
      position: fixed;
      background-color: rgb(245, 245, 255);
      overflow-y: auto;
      bottom: 1%;
      width: 450px;
      max-height: 100%;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.15);
      z-index: 1000;
      display: flex;
      flex-direction: column;
  @media (max-width: 768px) {
      width: 99%;
      height: 99%;
      bottom: 2%;
      left: 2%;
      right: 2%;
      top: 2%;
      max-height: 99%;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.15);
      z-index: 1000;
      display: flex;
      flex-direction: column;
    }
}

.customCarButton {
  cursor: pointer;
  border-radius: 5px;
  background-color: aqua;
}

.authFormContainer{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 255, 225);
        padding: 0px;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
        z-index: 1001;
  }

.closebutton{
  top: 0px;
  margin-left: 0.3rem;
  background-color: rgba(255, 25, 25, 0.8);
  border-radius: 5px;
  padding: 0.3rem;
  box-shadow: inset 0 4px 8px rgba(0, 0, 255, 0.5);
}

.contentToBeFixed{
  position: sticky;
  top: 0;
  background-color: rgb(250, 250, 250);
  z-index: 2;
}

.contentToScroll{
  overflow-y: auto;
  flex: 1;
  flex-direction: column;
}

 .notificationBadge {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.7rem;
  z-index: 10;
  transform: translate(50%, -50%);
}

.comment{
  min-width: 100%;
  padding-bottom: 5px;
  position: relative;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
  grid-column: 1 / -1;
}
.comment.static {
  position: static;
  z-index: 1;
}
.comment.absolute{
  margin-top: -100px;
  background-color: rgb(116, 88, 119);
  top: 100%;
  border-bottom: 0.5px solid rgba(120, 120, 20, 0.7)
}

.hideAndShowButton{
  font-size: small;
  justify-content: center;
  cursor: pointer;
  
  box-shadow: 0.5px 0.1px 0.1px 01px rgba(0, 0, 0, 0.1);
}



.notificationDropdown {
  position: absolute;
  top: 0px; 
  right: 0px; 
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 300px; 
  border: 1px solid blue ;
}

.notificationDropdown h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.notificationDropdown .closeButton {
  position: relative;
  top: 0;
  right: o;
  background: none;
  border: none;
  cursor: pointer;
  border: 1px solid blue ;
}