.filter{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}


.carproparty{
  display: flex;
  flex-direction: column;
align-items: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

.search{
  display: flex;
  flex-direction: row;
  gap: 2px;
  padding: 2px;
}

.navbartop{
float: top;
top: 2px;
  padding: 3px;
}

.newButton{
  display: flex;
  align-items: center;
  justify-content: center;
}

.lineAboveFooter{
  height:3px;
   background: linear-gradient(
    200deg,
    blue, gray, olive,  pink, purple, 
    olive,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet,
    indigo,
    white,
    black,
    gold,
    maroon,
    cyan,
    violet
  );

}