.carDetailPageContainer{
  margin-right: 5rem;
  margin-left: 5rem;
  margin-top: 2rem;
  padding-left: 6rem;
  padding-right: 1rem;
  padding-top: 2rem;
  box-shadow: 6px 4px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  width:fit-content;
  border: 1px solid navy;
}