
@import "tailwindcss";

.svg{
  height:15px;
  width: 40spx;
  
}

.buttonsvg{
    
  
  height: 20px;
  width: 20px;
}

.formnewcar{ border: 5px solid;
  border-image: linear-gradient(
    200deg,
    blue,
    olive,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet,
    indigo,
    white,
    black,
    gold,
    maroon,
    cyan
  ) 1;
}