.newcar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  box-shadow: 4px 4px 10px rgba(0, 0, 7, 0.5);
  padding: 1px;
  top: 20px;
  right: 20px;
  border-radius: 10px;
  position: absolute;
  background-color: rgba(25, 55, 55, 0.5);
}

.formnewcar{
   border: 5px solid;
   border-image: linear-gradient(200deg, blue,olive,red, orange, yellow, green, cyan,
    blue, violet, indigo, white, black, gold, maroon, cyan) 1;
  }

    .inputValue{
      background-color: rgba(240,250,230,0.2);
      width: 100%;
      border-radius: 5px;
      align-items: center;
      justify-content: center;
      text-align: center;
      float: right;
    }

    .inputnewcar{
      padding: 10px;
    }
.fuelType{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  width: 100%;
  gap: 10px;
  margin-bottom: 10px;
}